.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: rgba(46, 47, 66, 1);
}

/* <uniquifier>: Use a unique and descriptive class name

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}*/
.page-header {
  background-color: rgba(255, 255, 255, 1);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(77, 90, 229, 1);
}
.logo-span {
  color: rgba(46, 47, 66, 1);
}
.footer-logo {
  color: rgba(77, 90, 229, 1);
}
.footer-logo-span {
  color: rgba(244, 244, 253, 1);
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(46, 47, 66);
}
.nav-link:hover,
.nav-link:focus {
  color: rgba(64, 75, 191, 1);
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: rgba(67, 68, 85, 1);
}
.address-link:hover,
.address-link:focus {
  color: rgba(64, 75, 191, 1);
}
.effective-section {
  background-color: rgb(46, 47, 66);
}
.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.effective-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(77, 90, 229, 1);
}
.effective-button:hover,
.effective-button:focus {
  background-color: rgba(64, 75, 191, 1);
}
.benefits-title {
}
.item-benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.item-benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(67, 68, 85, 1);
}
.team-page {
  background-color: rgb(229, 229, 229);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: rgba(67, 68, 85, 1);
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(67, 68, 85, 1);
}
.footer-page {
  background-color: rgba(46, 47, 66, 1);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgba(244, 244, 253, 1);
}
